{% extends 'home/base.html'%}
{% block content %}

<!-- Banner -->

<section id="banner">
    <div class="container">
        <div class="row mb-4" data-aos="fade-up" data-aos-delay="200">
            <div class="col-lg-6 mr-auto">
              <h1>Make Your Business More Profitable</h1>
              <p class="mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam assumenda ea quo cupiditate facere deleniti fuga officia.</p>
              <div>
                <a href="#" class="btn btn-primary mr-2 mb-2">Get Started</a>
              </div>
            </div>
          </div>
    </div>
</section>
<section class="case-study">
    <div class="text-center">
        <h2 class="title">About Us</h2>
    </div>
    <div class="case-study-content">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="img-content">
                        <img class="img-responsive" src="/static/imgs/about.jpeg" alt="" style="width:500px; height:250px;">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="content">
                        <p class="case-description">Avid Animation is a Kenyan animation and multimedia company
                            focused on quality storytelling,striking visuals and innovative
                            designs.</p>
                        <p>
                            The combined experience of the in-house team covers
                            award-winning animation, commercials,music videos, comic
                            books and videography.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="counter_area counter_bg_1 overlay_03">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4">
                <div class="single_counter text-center">
                    <div class="counter_icon">
                        <img src="https://img.icons8.com/nolan/96/facebook-circled.png"/>
                    </div>
                    <h3> <span class="counter">5K</span> </h3>
                    <p>Followers</p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4">
                <div class="single_counter text-center">
                    <div class="counter_icon">
                        <img src="https://img.icons8.com/nolan/96/instagram-new.png"/>
                    </div>
                    <h3> <span class="counter">8K</span> </h3>
                    <p>Followers</p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4">
                <div class="single_counter text-center">
                    <div class="counter_icon">
                        <img src="https://img.icons8.com/nolan/96/linkedin.png"/>
                    </div>
                    <h3> <span class="counter">3K</span></h3>
                    <p>Followers</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}